{% extends "voting/base.html" %}

{% block content %}

  		<div class="row">
  			<div class="col s12 m12">
  				<h1>Candidate List</h1>

  				<table>
  					<thead>
  						<th>Name</th>
  						<th>Age</th>
  						<th>Running For</th>
  					</thead>
  					<tbody>
  						{%  for candidate in candidate_list.all %}
  							<tr>
  								<td>{{candidate.name}}</td>
  								<td>{{candidate.age}}</td>
  								<td>{{candidate.title}}</td>
  							</tr>
  						{% endfor %}
  					</tbody>
  				</table>
  		
  			</div>
  		</div>


{% endblock %}