{% extends "voting/base.html" %}

{% block content %}

  		<div class="row">
  			<div class="col s12 m12">
  				<h1>Voting Area</h1>
  				<h3>{{message}}</h3>
  				{% for sen in senators.all %}
  					{{sen}}
  				{%endfor%}
  				<p><a class="waves-effect waves-light btn" href="{% url 'president' %}">Vote for President (1)</a></p>
  				<p><a class="waves-effect waves-light btn" href="{% url 'vice_president' %}">Vote for Vice-President (1)</a></p>
  				<p><a class="waves-effect waves-light btn" href="{% url 'senators' %}">Vote for Senator (12)</a></p>
  			</div>
  		</div>


{% endblock %}